@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}

#nav {
    width: 100%;
    background-color: #fff;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;

}

#nav .nav_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .nav_logo a {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 25px;
}

#nav .nav_navigation .nav_list a {
    text-decoration: none;
    color: #000;
    padding: 0px 5px;
}

#nav .nav_navigation .nav_list a:hover {
    color: #3e8b48;
}

#nav .nav_cart {
    cursor: pointer;
    display: flex;
    align-items: center;

}

#nav .nav_cart:hover {
    color: #3e8b48;
}

#nav .nav_cart i {
    font-size: 20px;
    padding-right: 5px;

}

.sm_section {
    max-width: 1000px;
    margin: 0 auto;
}

#ds_main {
    margin: 0 auto;
    font-size: 14px;
    box-shadow: 0px 0px 1px gray;
    background-color: #e4e3e3;
    height: auto
}

.dm_domain {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.dm_domain .dm_domain_title {
    color: #fff;
}

.dm_domain .dm_domain_title h3 {
    font-size: 36px;
}

.dm_domain .dm_domain_title p {
    font-size: 16px;
    padding: 8px 0px;
    margin-bottom: 25px;
}

.dm_domain .domain_search {
    position: relative;

}

.dm_domain_row {
    /* background-color: #61CE70; */
    padding: 40px 0px;
    height: 70vh;
    z-index: 1;
    background-image: url('https://minthost.com.bd/img/domains-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.dm_domain_row .dm_domain_row_bg_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    /* background-image: url('https://minthost.com.bd/img/mint-host.svg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dm_domain input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px gray;
    text-indent: 70px;
    border-radius: 8px;
    font-weight: 600;

}

.dm_domain input:focus {
    outline: none;
    box-shadow: 0px 0px 2px gray;
}

.dm_domain .www {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    line-height: 20px;
    font-size: 18px;
    opacity: .5;
    font-weight: 600;
    color: rgba(0, 0, 0, .4);
    border-right: 1px solid black;
    padding-right: 5px;

}

.dm_domain .magnific_glass {
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
    padding: 15px 18px;
    cursor: pointer;
    background: #61CE70;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dm_domain .magnific_glass:hover {
    background-color: #3e8b48;
}

.dm_domain .magnific_glass i {
    font-size: 18px;
    color: #fff;
}

.dm_domain .domain_bottom_info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
}

.dm_domain .domain_bottom_info i {
    font-size: 18px;
    padding-right: 2px;
}



#ds_result {
    margin-top: -65px;
    z-index: 1;
    height: 100%;
}

#ds_result .dm_result_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}

#ds_result .dm_result_wrapper .dm_result_wrapper_div {
    width: 75%;
}

#ds_result .dm_result_wrapper .dm_result_popular {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    ;

}

.dm_result_bundle {
    margin-bottom: 15px;
    background-color: aquamarine;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 5px;
    ;
}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item {
    /* width: 25%; */
    width: 30%;
    height: 120px;
    padding: 12px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    background-color: #fff;
    position: relative;
}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item .domain_name {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;

}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item .domain_desc {
    font-size: 18px;
    padding-bottom: 5px;
}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item .domain_btn {
    padding: 4px 15px;
    background-color: #61CE70;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item .domain_btn:hover {
    background-color: #3e8b48;
}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: aqua;
}

#ds_result .dm_result_wrapper .dm_result_popular .popular_item .domain_btn i {
    font-size: 18px;
    font-weight: 900;
}

#ds_result .dm_result_wrapper .dm_result_wrapper_head {
    padding: 12px;
    font-size: 18px;
}

#dm_result .dm_result_wrapper .ds_result_show {
    width: 100%;
}

#dm_result .dm_result_wrapper .ds_result_show #ds_result_bundle {
    margin-bottom: 8px;
    background-color: #fff;
    padding: 8px;
    height: 15px;
}

#ds_result .dm_result_wrapper #ds_result_show {
    width: 100%;
}

#ds_result .dm_result_wrapper .dm_element {
    width: 100%;
    padding: 3px;
    /* box-shadow: 0px 0px 1px gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(185, 185, 185, 0.842);
}

#ds_result .dm_result_wrapper .dm_element .dm_icon {}

#ds_result .dm_result_wrapper .dm_element .dm_icon i {
    font-size: 25px;
    padding: 15px;
}

#ds_result .dm_result_wrapper .dm_element .dm_name {
    font-size: 18px;
    line-height: 25px;
}

#ds_result .dm_result_wrapper .dm_element .availability {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.f_spin {
    margin-right: 3px;
    padding: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: transparent black black black;
    border-style: solid;
    border-width: 1px;
    animation: f_spin linear .3s alternate infinite;
}

@keyframes f_spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

#ds_result .dm_result_wrapper .dm_element_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 0px 15px;
}

#ds_result .dm_result_wrapper .dm_price {
    font-size: 16px;
}

#ds_result .dm_result_wrapper .dm_btn {
    padding: 8px 15px;
    background-color: #61CE70;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

#ds_result .dm_result_wrapper .dm_btn:hover {
    background-color: #3e8b48;
    opacity: 1;

}

#ds_result .dm_card {
    width: 23%;
    padding: 8px;
    box-shadow: 0px 0px 1px gray;
    background: #fff;
    border-radius: 8px;
}

#ds_result .dm_card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

}

#ds_result .dm_card_head span {
    padding: 8px;
}

#ds_result .dm_card_head .clear_card {
    font-size: 12px;
    /* padding: 8px; */
    /* border: 1px solid red; */
    cursor: pointer;
    color: red;
    border-radius: 8px;
}

#ds_result .dm_card_head .clear_card:hover {
    border: 1px solid red;
    color: white;
    background-color: red;
}

#ds_result .dm_card .dm_card_domain_show {
    padding: 8px;
    font-size: 12px;
}

#ds_result .dm_card_domain_show .domain_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0px;
    border-bottom: 1px solid rgba(206, 205, 205, 0.692);
}

#ds_result .dm_card_domain_show .domain_item .name {
    font-size: 16px;
}

#ds_result .dm_card_domain_show .domain_item .cross_btn {
    background-color: red;
    color: #fff;
    padding: 0px 3px;
    border-radius: 50%;
    line-height: 14px;
    cursor: pointer;
}

#ds_result .dm_card_body {
    padding: 8px;
}

#ds_result .dm_card_body table {
    width: 100%;
}

#ds_result .dm_card_body td {
    font-size: 14px;
    padding: 3px 8px 3px 0px;

}

#ds_result .dm_card_body .checkout_btn {
    width: 100%;
    text-align: center;
    background-color: #61CE70;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 15px;
    opacity: .9;
}

#ds_result .dm_card_body .checkout_btn:hover {
    opacity: 1;
    background-color: #3e8b48;
}